body {
  background-color: rgb(40, 40, 43);
  font-family: "DM Sans", sans-serif;
   padding-top: 60px;

}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #38383D;
  
  /* makes navbar stick to top */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  font-family: poppins;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.left {
  font-size: 26px;
  font-weight: bold;
  color: rgb(221, 223, 194);
  font-family: Montserrat,;
}

/* Navbar links */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: rgb(221, 223, 194);
  font-size: 20px;
  font-weight: bold;
}
p{
    color: white;
}
